/* ---------------------------------------- 
  NAVIGATION
---------------------------------------- */

nav {
  background-color: #d4d4d4;
}

nav ul {
  margin: 0;
  padding: 0;
  background-color: #d4d4d4;
}

nav ul li {
  list-style: none;
  float: left;
  font-size: 93%;
}

nav ul li a:link,
nav ul li a:visited {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  border-right: 1px solid #bababa;
}

/* ---------------------------------------- 
  LAYOUT
---------------------------------------- */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1em 0;
  font-size: 93%;
  line-height: 1.5em;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #E9E9E9;
  padding: 40px 0;
}

section {
  width: 65%;
  float: left;
  margin: 0 5% 0 0;
}

img {
  max-width: 100%;
  height: auto;
  
}

.body-content {
  padding: 50px 0;
  background-color: #fff;
}

.section-inner {
  max-width: 1100px;
  padding: 0 25px;
  margin: 0 auto;  
}

/* ---------------------------------------- 
  COLUMNS
---------------------------------------- */

.three-columns {
  padding: 0 0 50px 0;
}

.col-1 {
  width: 30%;
  float: left;
  margin: 0 5% 0 0;
}

.col-2 {
  width: 30%;
  float: left;
  margin: 0 5% 0 0;
}

.col-3 {
  width: 30%;
  float: left;
}

.side {
  width: 30%;
  float: left;
}

.info-box-a {
  background-color: #9bdaef;
  padding: 20px;
  font-size: 13px;
  margin: 0 0 15px 0;
}

.info-box-b {
  background-color: #efdb7f;
  padding: 20px;
  font-size: 13px;
  margin: 0 0 15px 0;
}

footer {
  background-color: #3f3f3f;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

/* ---------------------------------------- 
  CLEARFIX
---------------------------------------- */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ---------------------------------------- 
  MEDIA QUERIES
---------------------------------------- */

/* TODO: MEDIA QUERIES */

@media screen and (max-width: 768px) {
 .col-1 {
    width: 47.5%;
  } 
}